
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profilim Sayfasına Hoşgeldiniz</h2>

<address>
    Adınız: Muhammet Ali Osman <br />
    Soyadınız: ÖZYURT   <br />
    İstanbul<br />
    Bahçelievler<br />
    <abbr title="Telefon">Tel:</abbr>
    +90(553) 320 40 60
</address>

<address>
    <strong>Mail:</strong>   <a href="muhammetaliosmanozyurt@gmail.com">muhammetaliosmanozyurt@gmail.com</a><br />
</address>
